body{
    margin:0;
    font-family: 'Tahoma', sans-serif;
}
img{
    display: block;
    max-height: 80%;
    max-width: 80%;
    margin: 0 auto;
}
a {
    color: inherit;
}
.item{
    padding: 1em;
    box-sizing: border-box;
    text-align: justify;
}