body{
    margin:0;
    font-family: 'Tahoma', sans-serif;
}
img{
    display: block;
    max-height: 80%;
    max-width: 80%;
    margin: 0 auto;
}
a {
    color: inherit;
}
.item{
    padding: 1em;
    box-sizing: border-box;
    text-align: justify;
}

.main-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 18px;
    height: 100%;
}
header{
    box-sizing: border-box;
    height: 75px;
    padding: 0 0 0 1em;
    background-color:#0E3A2F;
}
h1, h2{
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    align-content: center;
    color: #78FAAE;
}
h3, h4{
    font-weight: normal;
}

.middle-container{
    display: flex;
    height: calc(100% - 150px);
    min-height: calc(100vh - 150px);
}
.second{
    padding: 0 1em 0 0;
    width: 15%;
    word-break: break-word;
    background-color: #394748;
    color: #FFFFFF;
}
.right-middle-container{
    display: flex;
    flex-direction: column;
    width: 85%;
}
.third{
    background-color: #78FAAE;
    color:#0E3A2F
}
.bottom-right-middle-container{
    display: flex;
    height: 100%;
}
.forth-sixth{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
}
.forth{
    height: calc(100%-100px);
    background-color:#F1F2F2;
}
.sixth{
    height: 100px;
    background-color: #78FAAE;
    color:#0E3A2F
}
.fifth{
    width: 20%;
    background-color: #394748;
    color: #FFFFFF;
}
footer{
    box-sizing: border-box;
    text-align: right;
    height: 75px;
    padding: 0 1em 0 0;
    background-color:#0E3A2F;
}